<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>My Shitty Bot</title>

     <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
     <div class="container">
          <form id="inputForm" class="input-box">
               <input type="text" name="input" id="inputField" placeholder="My Shitty Prompt...">
               <button type="submit">Submit</button>
          </form>
          <div id="result" class="input-result"></div>
     </div>

    <script>
          document.getElementById('inputForm').addEventListener('submit', function(event) {
               event.preventDefault();
               const result = document.getElementById('result')
               const input = document.getElementById('inputField').value;

               result.innerText = "Loading..."
               result.style.display = 'block';

               fetch('/prompt', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: new URLSearchParams({'input': input})
               })
               .then(response => response.json())
               .then(data => {
                    result.innerText = data.output;
               })
               .catch(error => {
                    console.error('Error:', error);
               });

          });
    </script>
</body>
</html>